<div class="container">
  <div class="row">
    <div class="col m-3">
      <h3>商品一覧</h3>
      <%= link_to new_admin_item_path do %>
      <i class="fa-regular fa-square-plus"></i>商品新規登録
      <% end %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @itempage.each do |item| %>
          <tr>
            <th><%= item.id %></th>
            <th><%= link_to item.name, admin_item_path(item) %></th>
            <th><%= item.price_no_tax %>円</th>
            <th><%= item.genre.name %></th>
            <th>
              <% if item.is_active? == true %>
              <span class="text-success">販売中</span>
              <% else %>
              <span class="text-danger">販売停止中</span>
              <% end %>
            </th>
          </tr>
          <% end %>
          <th><%= paginate @itempage %></th>
        </tbody>
      </table>
    </div>
  </div>
</div>