<div class="container">
  <div class="text-center" style="background-image: url(https://sozaino.site/wp-content/uploads/2021/02/aozora.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
    <p>ようこそながのCAKEへ！</p><br>
    <p>このサイトはケーキ販売のECサイトになります。</p><br>
    <p>会員でない方も商品の閲覧はできますが、</p><br>
    <p>購入には会員登録が必要になります。</p><br>
  </div>

<h2>新着商品</h2>

  <div class="form-inline">
    <% @items.each do |item| %>
        <%= link_to item_path(item) do %>
        <% if item.image.attached? %>
          <%= image_tag item.image, size: "100x100" %>
        <% else %>
          <%= image_tag 'no_image', size: "100x100" %>
        <% end %>
      　<% end %>
      <%= item.name %><br>
      <div class="aa">¥
        <%= item.price_no_tax %>
      </div>
    <% end %>
  </div>

</div>