<div class="container">
  <div class="row">
     <h1>配送先登録/一覧</h1>
  </div>
  <div class="row">
     <table>
     <%= form_with model: delivery, url: deliveries_path, method: :post do |f| %>
      <tr>
       <th><%= f.label :郵便番号 %></th>
       <td><%= f.text_field :post_code %></td>
      </tr>

      <tr>
        <th><%= f.label :住所 %></th>
        <td><%= f.text_field :address %></td>
      </tr>

      <tr>
        <th><%= f.label :名前 %></th>
        <td><%= f.text_field :name %></td>
        <td><%= f.submit "新規登録", class: "btn btn-success" %></td>
      </tr>
     <% end %>
     </table>
  </div>
 </div>
