<div class="container">
    
    <div class="row" >
        <h3 class="col-md-9" >ショッピングカート</h3>
        <%= link_to destroy_all_path, method: :delete do %>
            <btn class="btn btn-danger">カートを空にする</btn>
        <% end %>
    </div>

    <div class="row">
        <table class="table table-bordered col-md-11">
            <tr>
                <th>商品名</th>
                <th>単価(税込)</th>
                <th>数量</th>
                <th>小計</th>
            </tr>
            <tr>
                <% @cart_items.each do |cart_item| %>
                    <%= form_with model: cart_item do |f| %>
                        <td><%= cart_item.item.name %></td>
                        <td><%= cart_item.item.with_tax_price %></td>
                        <td><%= f.select :quantity, *[1..10] %><%= f.submit '変更', class: "btn btn-success"  %></td>
                        <td><%= cart_item.subtotal %></td>
                        <td><%= link_to "削除する", carts_path, method: :delete,class: "btn btn-danger" %></td>
            </tr>
        </table>
        <table class="table table-bordered col-md-2">
            <tr>
                <td>合計金額</td>
                <td><%= @price_all += cart_item.item.with_tax_price * cart_item.quantity %></td>
            </tr>
                    <% end %>
                <% end %>
        </table>
    </div>
    
    <%= link_to items_path do %>
        <btn class="btn btn-primary">買い物を続ける</btn>
    <% end %>
    <%= link_to new_order_path do %>
        <btn class="btn btn-success">情報入力画面に進む</btn>
    <% end %>
