<h1>注文情報確認画面</h1>
<table>
    <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
    </tr>
    <tr>
        <% @order.each do |order| %>
            <%= form_with model: @order,url: orders_path, method: :post do |f| %>
                <td><%= order.item.name %></td>
                <td><%= order.item.with_tax_price %></td>
                <td><%= order.cart.quantity %></td>
                <td><%= order.subtotal_check %></td>
    </tr>
</table>
<table>
    <tr>
        <td>送料</td>
        <td><%= order.postage %></td>
    </tr>
    <tr>
        <td>商品合計</td>
        <td><%= @price_all += order.item.with_tax_price * order.quantity %></td>
    </tr>
    <tr>
        <td>請求金額</td>
        <td><%= order.billing_amount%></td>
    </tr>
            <% end %>
        <% end %>
    </tr>
</table>