<h1>注文情報確認画面</h1>
<table>
    <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
    </tr>
    <tr>
        <% @carts.each do |cart| %>
            <td><%= cart.item.name %></td>
            <td><%= cart.item.with_tax_price %></td>
            <td><%= cart.quantity %></td>
            <td><%= cart.subtotal %></td>
        <% end %>
    </tr>
</table>
<table>
    <tr>
        <td>送料</td>

        <td><%= @order.postage %></td>
    </tr>
    <tr>
        <td>商品合計</td>
        <td><%= @price_all %></td>
    </tr>
    <tr>
        <td>請求金額</td>
        <td><%= @order.billing_amount %></td>
    </tr>
    <h2>支払方法</h2>
        <%= @payment_method_display %>
    <h2>お届け先</h2>
        <%= @order.post_code %>
        
        <%= form_with model: @order, method: :post do |f| %>
            <%= f.hidden_field @order, value: @order.payment_method %>
            <%= f.hidden_field @order, value: @order.post_code %>
            <%= f.hidden_field @order, value: @order.address %>
            <%= f.hidden_field @order, value: @order.name %>
            <%= f.hidden_field @order, value: @order.postage %>
            <%= f.hidden_field @order, value: @order.billing_amount %>
            <%= f.submit "注文を確定する" %
        <% end %>
    </tr>
</table>