<h1>注文履歴一覧</h1>

<table>
    <th>注文日</th>
    <th>配送先</th>
    <th>注文商品</th>
    <th>支払金額</th>
    <th>ステータス</th>
    <th>注文詳細</th>
    
    <tr>
        <% @order_historys.each do |order_history| %>
        <td><%= order_history.created_at %></td>
        <td>
            〒<%= order_history.post_code %>
            <%= order_history.address %>
            <%= order_history.customer.full_name %>
        </td>
        <td>
            <% order_history.order_details.each do |order_detail| %>
            <%= order_detail.item.name %>
        </td>
        <td>
            <%= order_history.billing_amount %>円
        </td>
        <td>
            <%= order_detail.production_status %>
            <% end %>
        </td>
        <td>
            <%= link_to "表示する", order_path(order_history) %>
        </td>
        <% end %>
    </tr>
</table>
