<h1>注文情報入力</h1>
<h2>支払方法</h2>
    <%= form_with model: @order.new do |f| %>
      <%= f.radio_button :payment_method, :credit_card %>
        <%= f.label :payment_method, "クレジットカード" %>
        
      <%= f.radio_button :payment_method, :transfer %>
        <%= f.label :payment_method, "銀行振込" %>
<h2>お届け先</h2>
      <%= f.radio_button :address_all, :my_address %>
      <%= f.label :adress_all, "ご自身の住所" %>
      <%= @customer_address.body %>
      
      <%= f.radio_button :address_all, :address_index %>
      <%= f.label :address_all, "登録済住所から選択" %>
      <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :full_address_) %>
      
      <%= f.radio_button :address_all, :address_new %>
          <%= f.label :address_all, "新しいお届け先" %>
              <table>
                  <tr>
                      <td>郵便番号(ハイフンなし)</td>
                      <td><%= f.text_field :post_code %></td>
                  </tr>
                  <tr>
                      <td>住所</td>
                      <td><%= f.text_field :address %></td>
                  </tr>
                  <tr>
                      <td>宛名</td>
                      <td><%= f.text_field :name %></td>
                  </tr>
            　</table>
            　<%= f.submit '確認画面へ進む' %>
    <% end %>
