
<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>



  <header>
    <ul class="nav justify-content-end">
      <li><%= link_to "", _path, method: : %></li>
      <li><%= link_to "", _path, method: : %></li>
      <li><%= link_to "", _path, method: : %></li>
      <li><%= link_to "delete", destroy_customer_session_path, method: :delete %></li>
    </ul>
  </header>

    <%= yield %>
  </body>
</html>
